/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;

}

h1, h2 {
  color: #5E3300;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5E3300 !important;
    border-color: #ffffff;

}
